{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'webapp/home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <title>Home</title>
</head>
<body>
    
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <a class="navbar-brand" href="/">Bruno's Finance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'addExpense' %}">Add expense <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <span id="greeting" >Hello, {{ username }} </span>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<!-- end of navbar -->

<!-- graph -->

<br><br>
<h1 class="title">Your's Expenses Summary:</h1>
<div id="graphContainer">
  <canvas id="myChart"></canvas>
</div>
<script>

  function mapSum(array){
   // console.log(array)
    var newArray = [];
    for(var i = 0; i<array.length; i++){
      newArray[i] = 0;
      //console.log("entrou");
      if(array[i].length > 0){
          for(var j=0; j<array[i].length; j++){
            //console.log(newArray[i][j]);
            newArray[i] += array[i][j].value;
          }
      }
    };
    return newArray;
  }

  function graphClickEvent(event, array){
    // console.log("event: ", event);
    console.log("index: ", array[0]._index)

  }



  var fixedExpenses = {{ cleanedFixedExpenses | safe }};
  var variableExpenses = {{ cleanedVariableExpenses| safe }};

  var cleanedFixedExpenses = mapSum(Object.values(fixedExpenses));
  var cleanedVariableExpenses = mapSum(Object.values(variableExpenses))


  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',
  
      // The data for our dataset
      data: {
          labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
          datasets: [{
              label: 'Fixed Expense',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 255, 255)',
              data: cleanedFixedExpenses
          },
          {
              label: 'Variable Expense',
              backgroundColor: 'rgb(13, 109, 52)',
              borderColor: 'rgb(255, 255, 255)',
              data: cleanedVariableExpenses
          }
          

      ]
      },
  
      // Configuration options go here
      options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
              xAxes: [{
                stacked: true,
              }],
              yAxes: [{
                stacked: true
              }]
            },
            onClick: graphClickEvent
      }
  });
  
  chart.canvas.style.backgroundColor = 'rgba(255,255,255)';
  
  

</script>
<br><br>







<!-- expense list -->
    <h1 class="title">Your's Expenses:</h1>
    <br><br>
    <div class="content">
      {% if fixedExpenses %}
            <table id="fixedExpensesTable" class="table">       
                <thead>
                    <th>Fixed Expenses:</th>
                </thead>
                <tbody>
                    {% for expense in fixedExpenses %}
                        <tr>
                          <td>
                            <a href="/expense-details/fixed/{{ expense.id }}">
                              <img src="{% static 'webapp/expand.svg' %}" alt="click to see details" class="expenseIcon">
                            </a>
                            {{ expense }}
                          </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
      {% endif %}

      {% if variableExpenses %}
          <table id="variableExpensesTable" class="table">
              <thead>
                  <th>Variable Expenses:</th>
              </thead>
              <tbody>
                  {% for expense in variableExpenses %}
                    <tr>
                      <td>
                        <a href="/expense-details/variable/{{ expense.id }}">
                          <img src="{% static 'webapp/expand.svg' %}" alt="click to see details" class="expenseIcon">
                        </a>
                        {{ expense }}
                      </td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% endif %}
    </div>
<!-- end of expense list -->

</body>
</html>